<footer>
    <section class="phones">
        {{#each phones}}
        <a href="{{tel}}">{{tel}}</a>
        {{/each}}
    </section>
    <nav>
        <ul>
            {{#each contacts}}
            <li><a href="#">{{red}}</a></li>
            {{/each}}
        </ul>
    </nav>
</footer>